@font-face {
    font-family: 'vp_wishlist_button';
    src:    url('fonts/vp_wishlist_button.eot?xr9ycy');
    src:    url('fonts/vp_wishlist_button.eot?xr9ycy#iefix') format('embedded-opentype'),
        url('fonts/vp_wishlist_button.ttf?xr9ycy') format('truetype'),
        url('fonts/vp_wishlist_button.woff?xr9ycy') format('woff'),
        url('fonts/vp_wishlist_button.svg?xr9ycy#vp_wishlist_button') format('svg');
    font-weight: normal;
    font-style: normal;
}

.vp_wishlist_button , .vp-dialog-icon ,.vp-dialog-close {
    
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vp_wishlist_button' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
}
.vp_wishlist_add {
  color: #555555;
    text-align: center;
    margin-right: 5px;
    padding: 5px;
    font-size: 19px;
}
.vp_wishlist_button:hover{
	cursor: pointer;
}

.vp-wishlist-remove-cross{
	color: red;
	font-size: 13px;
	padding: 2px;
	border: 1px solid;
	float: right;
}

.icon-undo:before {
    content: "\e965";
}

.icon-heart:before {
    content: "\e9da"!important;
}
.icon-cross:before {
    content: "\ea0f"!important;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.single .vp_wishlist_add{
  text-align: left;
  display: inline-block;
}

.vp-wishlist-count {
    float: left;
    text-align: left;
    width: 50%;
}

.vp-wishlist-text{
  color: #2f2f2f;
  font-weight: 400;
  display: inline-block;
  padding-left: 5px;
}
.vp-wishlist-dialog{
    width: 380px;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    z-index: 99999;
    display: none;
    position: fixed;
    font-family: arial;
    
}
.vp-dialog-icon{
    width: 80px;
    float: left;
    color: red;
    font-size: 37px;
    background-color: #444;
    height: 77px;
}
.vp-middle{
  vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.vp-dialog-info{
    height: 77px;
    width: 300px;
    float: right;
    font-size: 17px;
    font-weight: bold;
    background-color: #333;
    color: white; 
    font-family: 'Raleway', sans-serif;
    
}
.vp-dialog-info a{
  color: #FDF5E6;
}
.vp-dialog-info a:hover{
  color: #CC5252;
}
.vp-dialog-close{
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 4px;
    color: #CC5252;
    cursor: pointer;
}
.vp-wishlist-undo{
  font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
}
.vp-wishlist-undo-icon{
  text-align: center;
}